<%- include("partials/header.ejs") %>

<div class="container my-5 mx-5 px-5" id="about">
  <h3>About This Site</h3>
  <p>
    This is a site that display details about books I have read. Including
    reviews, summaries, notes, and detailed book information. This sites serves
    as a digital archive documenting my reading journey throughout the years as
    well as keep notes on the books I have read in a reliable digital format.
    This site also uses an <a href="<%=locals.API  %>">API</a> for the book
    covers and to generate some of the book information displayed.
  </p>
</div>
<%- include("partials/footer.ejs") %>
