<%- include("partials/header.ejs") %>
<div class="container">
    <h4><a href="/add">Add New Book</a></h4>
    <h4><a href="/update">Update A Book</a></h4>
    <h4><a href="/delete">Delete A Book</a></h4>
</div>

<%- include("partials/footer.ejs") %>